---
import BaseLayout from '../layouts/BaseLayout.astro';
import AsciiWidget from '../components/AsciiWidget.astro';

const blogPosts = [
];
---
<BaseLayout title="cinder.radiocat.lol">
    <header>
        <pre class="ascii-logo">
‚ĖĎ‚Ėą‚ĖÄ‚ĖÄ‚ĖĎ‚ĖÄ‚Ėą‚ĖÄ‚ĖĎ‚Ėą‚ĖÄ‚Ėą‚ĖĎ‚Ėą‚ĖÄ‚ĖĄ‚ĖĎ‚Ėą‚ĖÄ‚ĖÄ‚ĖĎ‚Ėą‚ĖÄ‚ĖĄ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖÄ‚ĖĄ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖÄ‚ĖÄ‚Ėą
‚ĖĎ‚Ėą‚ĖĎ‚ĖĎ‚ĖĎ‚ĖĎ‚Ėą‚ĖĎ‚ĖĎ‚Ėą‚ĖĎ‚Ėą‚ĖĎ‚Ėą‚ĖĎ‚Ėą‚ĖĎ‚Ėą‚ĖÄ‚ĖÄ‚ĖĎ‚Ėą‚ĖÄ‚ĖĄ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖĄ‚ĖÄ‚ĖĎ‚ĖĎ‚ĖÄ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖÄ‚ĖĄ
‚ĖĎ‚ĖÄ‚ĖÄ‚ĖÄ‚ĖĎ‚ĖÄ‚ĖÄ‚ĖÄ‚ĖĎ‚ĖÄ‚ĖĎ‚ĖÄ‚ĖĎ‚ĖÄ‚ĖÄ‚ĖĎ‚ĖĎ‚ĖÄ‚ĖÄ‚ĖÄ‚ĖĎ‚ĖÄ‚ĖĎ‚ĖÄ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖÄ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖĎ‚ĖÄ‚ĖĎ‚ĖĎ‚ĖÄ‚ĖÄ‚ĖĎ
        </pre>

        <div class="header-text">
            fuck paper straws
        </div>

        <AsciiWidget style="double" id="theme-btn" class="dynamic-toggle">
            switch to light mode
        </AsciiWidget>

        <div class="topbar-wrapper">
            <nav id="topbar" class="ascii-widget" data-box-style="rounded">
                <a href="#home">home</a>   ¬∑   <a href="#blogs">blogs</a>   ¬∑   <a href="#etcetera">etcetera</a>
            </nav>
        </div>
    </header>

    <div class="layout">
        <!-- TAB: HOME -->
        <div id="tab-home" class="tab-section active-tab">
            <main class="posts">
                <AsciiWidget style="double">
Hello people :3
---
I'm Cinder.
I was born on July 8th 2011, in S√£o Paulo - Brazil
I like some silly stuff like deltarune, tadc, fnaf and so much more :D
I'm also a redstoner and pianist (not good at either)

I also have a youtube channel where i post every thousand years
<a href="https://www.youtube.com/@CinderHatesPaperStraws">[@CinderHatesPaperStraws]</a>
                </AsciiWidget>
            </main>
        </div>

        <!-- TAB: BLOGS -->
        <div id="tab-blogs" class="tab-section">
            <main class="posts">
                {blogPosts.map(post => (
                    <AsciiWidget style={post.style}>
{post.title}
{post.date}
---
{post.content}
                    </AsciiWidget>
                ))}
            </main>
        </div>

        <!-- TAB: ETCETERA -->
        <div id="tab-etcetera" class="tab-section">
            <aside class="sidebar">
                <AsciiWidget style="double">
other stuff
---
> <a href="https://www.youtube.com/@CinderHatesPaperStraws" target="_blank">my youtube</a>
                </AsciiWidget>
            </aside>
        </div>
    </div>
</BaseLayout>
